/* Custom Cookies Info Dark */
.cookie-choices-info{background-color:rgba(56,66,75,.97)!important;line-height:normal!important;top:initial!important;bottom:0!important;font-family:inherit!important;-webkit-transform:translateZ(0);}
.cookie-choices-info .cookie-choices-text{font-size:14px!important;color:#cee6ea!important}
.cookie-choices-info .cookie-choices-button{font-weight:normal!important;color:#fff!important;margin-left:5px!important;padding:3px 6px!important;background:#f64c3b!important;letter-spacing:.8px;transition:all .4s linear}
.cookie-choices-info .cookie-choices-button:nth-child(2){background:#f68c2e!important;transition:all .4s linear}
.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover{background:#282f36!important;transition:all .1s linear}
/* Arlina Fixed Layout */
.CSS_LIGHTBOX {z-index:999999!important;}
.CSS_LIGHTBOX_BG_MASK_TRANSPARENT {opacity:.95!important;}
.CSS_LIGHTBOX_SCALED_IMAGE_IMG {width:auto!important;max-width:100%;box-shadow:0 0 10px rgba(0,0,0,0.1);}
.CSS_LIGHTBOX_BTN_CLOSE {background: url(&#39;https://4.bp.blogspot.com/-cmZSAe4hgWI/V0K-3C5xiHI/AAAAAAAAG90/2btatUgRsM4qf8HIc7QweuToTkRqRNeuACLcB/s1600/delete.png&#39;) no-repeat!important;width:32px!important;height:32px!important;top:30px!important;opacity:0.7;transition:all .3s;}
.CSS_LIGHTBOX_BTN_CLOSE:hover{opacity:1;}
.CSS_LIGHTBOX_BTN_CLOSE_POS {right:10px!important;}
.CSS_LIGHTBOX_BG_MASK{background-color:rgba(0,0,0,0.8)!important}
.CSS_LIGHTBOX_FILMSTRIP{background-color:rgba(0,0,0,0.5)!important}
.quickedit,#ContactForm1,#ContactForm1 br {display:none}
.post,.widget-content,.breadcrumbs,.banner .widget,.banner2 .widget,#blog-pager,#comments{}
.banner .widget-content,.banner2 .widget-content,#LinkList215 .widget-content{}
#BlogArchive1 li.archivedate {padding:0;}
#BlogArchive1 #ArchiveList ul.posts li {padding:0 0 0 22px;line-height:normal;}
#ArchiveList{padding:10px}
#ArchiveList select{width:100%;padding:10px;margin-bottom:5px;border:1px solid rgba(201,201,201,0.52);font-size:13px;font-family:&#39;Roboto&#39;,sans-serif}
/* Arlina Template Wrapper */
.maxiwrap {max-width:970px;margin:0 auto;}
#wrapper{background:#fff;display:block;position:relative;overflow:hidden;max-width:970px;margin:0 auto;padding:0;border-left:1px solid rgba(0,0,0,0.1);border-right:1px solid rgba(0,0,0,0.1)}
#content-wrapper {display:block;position:relative;overflow:hidden;padding:0;margin:60px auto 0 auto;}
/* Arlina Top */
.search-boxs{display:none;width:230px;height:27px;float:right;padding:0;position:relative;transition:all .1s}
#search-forms,#searchform,.search-button{border:0;line-height:27px}
#searchform{position:relative;border:0;margin:9px 0 0 0}
#search-forms{background:rgba(0,0,0,.05);border-radius:3px;color:rgba(0,0,0,.5);width:100%;padding:0 30px 0 10px;height:27px;line-height:27px;font-size:13px;margin:0;border:1px solid rgba(0,0,0,0.05);transition:all .3s}
.search-button{background:none;width:30px;padding:0;text-align:center;margin:0;top:0;right:0;font-size:13px;color:#666;position:absolute;border-radius:0;text-shadow:none;box-shadow:none}
#search-forms:focus,#search-forms:hover,.search-button:focus,.search-button:hover{background:rgba(0,0,0,0);border-color:rgba(0,0,0,0.14);outline:0;color:rgba(0,0,0,.5)}
/* Arlina Header Wrapper */
#header{background:#2c4584;display:block;margin:0 auto;padding:0;word-wrap:break-word;width:100%;position:fixed;z-index:99;height:60px;line-height:60px;-webkit-transform:translateZ(0);transform:translateZ(0)}
#header .title{font-size:220%;margin:10px 0 0 0;padding:0;display:inline-block;width:100%;font-weight:400}
#header .title a{color:#fff;}
#header .title a:hover {color:#fff;}
#header p.description{display:none;font-size:90%;margin:5px 0 0 0;line-height:normal;}
.header img {display:block;height:auto;}
#headerdua {float:left;margin:0 30px 0 0;}
/* Arlina Main Navigation */
#simplify-two{font-size:0;padding:0;margin:0 auto;float:left}
#simplify-two ul.menus{height:auto;overflow:hidden;position:absolute;z-index:99;display:none}
#simplify-two a{display:block;text-transform:uppercase;height:60px;line-height:60px;color:#fff;font-size:13px;overflow:hidden;margin:0 20px 0 0}
#simplify-two ul &gt; li a i {color:rgba(255,255,255,.5)}
#simplify-two ul{margin:0 auto;padding:0;float:left}
#simplify-two ul li{position:relative;margin:0;list-style:none}
#simplify-two ul &gt; li {float:left;}
#simplify-two input {display:none;margin:0;padding:0;width:80px;height:45px;opacity:0;cursor:pointer}
#simplify-two label {display:none;width:55px;height:48px;line-height:48px;text-align:center}
#simplify-two label span {font-size:16px;position:absolute;left:55px}
#simplify-two ul.menus li {display:block;width:100%;text-transform:none;text-shadow:none;}
#simplify-two ul.menus a {color:#fff;line-height:55px}
#simplify-two li a:hover,#simplify-two ul.menus a:hover {background:rgba(0,0,0,0.03);color:#ffc351;}
#simplify-two li ul{display:none;background:#fff;margin:0;height:auto;position:absolute;top:99%;left:0;z-index:12;box-shadow:0 3px 10px 1px rgba(0,0,0,0.14);}
#simplify-two li:hover ul.menus,#simplify-two li:hover &gt; ul{visibility:visible;opacity:1;}
#simplify-two li li{display:block;float:none;font-size:13px;height:auto;clear:both;margin-left:0;line-height:36px;border-bottom:1px solid rgba(0,0,0,0.05)}
#simplify-two li li:last-child {border:0;}
#simplify-two li ul ul {left:100%;top:0}
#simplify-two li li &gt; a{background:#fff;color:#666;display:block;margin:0;text-decoration:none;text-transform:none;min-width:180px;height:36px;line-height:36px;padding:0 13px;font-size:11px;border:0;;border-left:3px solid transparent;margin-top:0}
#simplify-two li li a:hover{background:#fdda97;color:#000}
/* Arlina search form */
#search-me{float:right;margin:0;padding:0;overflow:hidden;width:220px}
#search-me table{width:100%;margin:0;position:relative;height:36px}
#search-me td.search-boxs1{color:#cbd1e1!important}
#search-me input#search-boxs1[type=&quot;text&quot;]{background:#3d548f;height:36px;line-height:35px;margin:0;padding:0 10px;width:100%;border:none;color:#cbd1e1!important}
#search-me input#search-button1[type=&quot;submit&quot;]{font-family:FontAwesome;font-size:17px;background:transparent;color:#fff;height:60px;line-height:60px;margin:0;padding:0 15px;border:none;outline:none;font-weight:normal!important;transition:all 0.25s;position:absolute;right:0;top:0;z-index:2}
#search-me input#search-boxs1[type=&quot;text&quot;]:focus{background:#3d548f;outline:none;color:#cbd1e1}
/* Arlina Post Wrapper */
#main-wrapper{width:64.98%;float:left;margin:0;padding:0;word-wrap:break-word;border-right:1px solid rgba(0,0,0,0.1);}
.main .Blog{border-bottom-width:0}
.main .widget{margin:0;padding:0}
.date-header{display:none!important}
h1.post-title.entry-title,h2.post-title.entry-title {font-size:18px;margin:0 0 15px;}
h1.post-title.entry-title a,h2.post-title.entry-title a{color:#2c4584;}
h1.post-title.entry-title a:hover,h2.post-title.entry-title a:hover{color:#138be6;}
.post{background:#fff;position:relative;margin:0;padding:0}
.post-body {margin:0;line-height:1.7em;text-align:left;font-size:15px;padding:20px;}
.post-info abbr {border:0;}
.post-timestamp,.author-info,.comment-info,.label-info{padding:0 10px 0 0}
.post-body img,.post-body video,.post-body object {background:#fafafa;max-width:100%}
.breadcrumbs{background:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;padding:20px;border-bottom:1px solid rgba(0,0,0,0.14);font-weight:700;}
.breadcrumbs a{color:#000;margin:0 2px;line-height:normal;}
.breadcrumbs .breadhome a{margin:0 5px 0 0}
.breadcrumbs .breadlabel:last-child{margin:0 0 0 4px}
.breadcrumbs a:hover{color:#138be6;}
.post-footer{line-height:1.6em}
.post-footer a{color:#97b28e;}
.feed-links{clear:both;line-height:2.5em;}
/* Arlina Sidebar Wrapper */
#sidebar-wrapper{padding:20px;width:35%;float:right;word-wrap:break-word;overflow:hidden}
#sidebar-wrapper h2,#sidebar-wrapper h3,#sidebar-wrapper h4{position:relative;overflow:hidden;margin:0;font-size:1rem;vertical-align:middle;padding:0 0 10px 0;border-bottom:1px solid rgba(0,0,0,.1);}
#sidebar-wrapper h2 span,#sidebar-wrapper h3 span,#sidebar-wrapper h4 span{display:inline-block;vertical-align:middle}
#sidebar-wrapper h2:after,#sidebar-wrapper h3:after,#sidebar-wrapper h4:after{content:&#39;&#39;;display:inline-block;position:absolute;height:15px;top:0;margin:3px 0 12px 10px;width:100%;background:url(https://4.bp.blogspot.com/-R2WTW6O9E1o/VX7dqIGT1eI/AAAAAAAACc4/pyvQDMMLX3E/s1600/repeat-bg.png)repeat;opacity:.9;}
#sidebar-wrapper .widget ul{margin:0;padding:0}
.widget-content{margin:0;padding:10px 0;overflow:hidden}
.sidebar,.sidebartop {line-height:1.5em;padding:0}
.sidebar ul,.sidebartop ul {padding:0;margin:0}
.BlogArchive #ArchiveList ul li {text-indent:0!important}
.sidebar ul li,.sidebartop ul li{margin:0;padding:10px;border-bottom:1px solid rgba(0,0,0,0.1);}
.sidebar .widget{margin:0}
.sidebartop .widget{margin:0 0 20px 0}
/* Dropdown Label */
.droplabeldo select{outline:none;cursor:pointer;transition:all .6s ease-out}
.droplabeldo{display:inline-block;position:relative;overflow:hidden;width:100%;border:0;height:40px;line-height:40px;color:#7f8c8d}
.droplabeldo:before,.droplabeldo:after{content:&#39;&#39;;position:absolute;z-index:2;top:15px;right:12px;width:0;height:0;line-height:40px;border:4px dashed;border-color:#999 transparent;pointer-events:none}
.droplabeldo:before{border-bottom-style:solid;border-top:none}
.droplabeldo:after{margin-top:8px;border-top-style:solid;border-bottom:none}
.dropdown-select{color:#000;position:relative;width:100%;margin:0;padding:6px 8px 6px 10px;height:40px;line-height:20px;font-size:13px;border:1px solid rgba(0,0,0,0.1);-webkit-appearance:none;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.droplabeldo select:hover{border-color:rgba(0,0,0,.34);}
.droplabeldo select:focus{outline:none;cursor:pointer;border-color:#66afe9;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);}
.dropdown-select&gt;option{background:#fafafa;position:relative;display:block;margin:3px;text-shadow:none;outline:0;border:0;cursor:pointer}
/* Arlina Footer Wrapper */
#footer-wrapper{background:#2f303f;color:#bdc3c7;text-align:center;padding:20px 0 0 0;margin:auto;border-top:5px solid #2c4584}
.simplifymed a{display:inline-block;text-align:center;margin-top:10px;margin-right:5px;color:#fff;border-radius:100%;opacity:.9;}
.simplifymed a i{font-family:Fontawesome;width:32px;height:32px;line-height:32px;display:block}
.simplifymed a:hover{color:#fff;opacity:1;transform:rotate(360deg);}
.simplifymed .facebook{background:#3b5998}
.simplifymed .twitter{background:#00aced}
.simplifymed .googleplus{background:#dd4b39}
.simplifymed .rssfeed{background:#ee802f}
#footbawah{clear:both;background:#252632;margin:auto;padding:25px 20px;color:#95a5a6;font-size:14px;display:block;overflow:hidden;position:relative}
#footbawah a{color:#f1c40f}
.footbawahkiri{text-align:left;float:left}
.footbawahkanan{text-align:right;float:right;}
.footbawahkanan a{color:#2ecc71}
.footbawahkanan a:hover{color:#fff;}
.footer-column{position:relative;margin:0 auto;clear:both;font-size:14px;line-height:24px;overflow:hidden;text-align:left;border-bottom:1px solid rgba(0,0,0,0.1);}
.footer-column h3{position:relative;overflow:hidden;margin:0 0 10px 0;font-size:1rem;padding:0 0 10px 0;border-bottom:1px solid rgba(0,0,0,.1);color:#fff}
.footer-column h3:after{content:&#39;&#39;;display:inline-block;position:absolute;height:15px;top:0;margin:3px 0 12px 10px;width:100%;background:url(https://4.bp.blogspot.com/-R2WTW6O9E1o/VX7dqIGT1eI/AAAAAAAACc4/pyvQDMMLX3E/s1600/repeat-bg.png)repeat;opacity:.7;}
.footer-menu{float:left;width:31%;margin:0 20px 0 0}
.footer-menu p.footer2{margin:5px auto}
.footer-menu ul{margin:0}
.footer-menu ul li{list-style-type:square;margin:0 0 0 15px}
.footer-menu ul li a{color:#bdc3c7}
.footer-menu ul li a:hover{color:#fff}
/* Custom Heading Widget */
.footer-column .footer-menu h3:before{content:&#39;\f07c&#39;;font-family:fontawesome;font-weight:normal;display:inline-block;margin:0 5px 0 0;color:#95a5a6}
.footer-column .footer-menu:nth-child(1) h3:before{content:&#39;\f046&#39;;}
.footer-column .footer-menu:nth-child(2) h3:before{content:&#39;\f085&#39;;}
.footer-column .footer-menu:nth-child(3) h3:before{content:&#39;\f003&#39;;}
/* Subscribe Footer */
#subscribe-footer{overflow:hidden;margin:0 0 20px 0;width:33.4%}
#subscribe-footer p{margin:1em 0}
#subscribe-footer .emailfooter{margin:auto;text-align:center;}
#subscribe-footer .emailfooter form{margin:0;padding:0;float:left}
#subscribe-footer .emailfooter input{background:rgba(255,255,255,1);padding:9px 12px;color:#999;font-size:14px;margin-bottom:10px;border:1px solid rgba(0,0,0,0.14);transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
#subscribe-footer .emailfooter input:hover{border-color:rgba(0,0,0,.34);}
#subscribe-footer .emailfooter input:focus{color:#000;outline:none;border-color:#66afe9;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);}
#subscribe-footer .emailfooter .submitfooter{background:#2ecc71;color:#fff;margin:0 0 0 5px;font-size:14px;cursor:pointer;border:1px solid rgba(0,0,0,0.05);border-radius:3px;transition:all .3s}
#subscribe-footer .emailfooter .submitfooter:active,#subscribe-footer .emailfooter .submitfooter:hover{background:#27ae60;color:#fff;outline:none;box-shadow:none}
/* Popular Post */
#PopularPosts1 ul,.PopularPosts li,.PopularPosts li img,.PopularPosts li a,.PopularPosts li a img{color:#2c4584;margin:0;padding:0;list-style:none;border:none}
#PopularPosts1 ul{margin:0;list-style:none;}
#PopularPosts1 ul li{margin:0;padding:10px 0;position:relative;transition:all .3s linear;}
#PopularPosts1 ul li:hover {background:rgba(255,255,255,.8);}
#PopularPosts1 ul li:last-child{border:0}
#PopularPosts1 ul li img{display:block;width:100%;height:auto}
#PopularPosts1 ul li .item-title a,.PopularPosts ul li a{font-size:13px;font-weight:700;line-height:1.6;}
#PopularPosts1 ul li .item-title a:hover,.PopularPosts ul li a:hover{color:#138be6}
#PopularPosts1 .item-thumbnail{margin:0 10px 0 0;overflow:hidden;z-index:2;display:block;position:relative;border-radius:0;width:90px;height:62px;float:left}
#PopularPosts1 .item-title{padding:0 5px}
#PopularPosts1 ul li:nth-child(1){border-top:none}
#PopularPosts1 ul li .item-snippet{color:#999;font-size:13px}
/* Social Media */
#socialcounter{overflow:hidden;margin:0 0 20px 0}
#socialcounter ul{margin:0}
#socialcounter ul a{color:#fff}
#socialcounter ul li.social_item-wrapper{float:left;width:48%;text-align:center;margin:0 4% 10px 0;color:#fff}
#socialcounter ul li a.social_item{position:relative;display:block;opacity:.9;height:50px;line-height:50px;overflow:hidden}
#socialcounter ul li.social_item-wrapper:nth-child(2n+2){margin:0}
.social_icon{float:left;line-height:50px;width:41px;font-size:1.3rem}
#socialcounter ul li a.social_item.social_facebook{background:#3F5B9B}
.fa-facebook.social_icon{background:#2E4372}
#socialcounter ul li.social_item-wrapper:hover .fa-facebook.social_icon{background:#3F5B9B}
#socialcounter ul li.social_item-wrapper:hover .social_facebook{background:#2E4372}
#socialcounter ul li a.social_item.social_twitter{background:#1C97DE}
.fa-twitter.social_icon{background:#1571A5}
#socialcounter ul li.social_item-wrapper:hover .fa-twitter.social_icon{background:#1C97DE}
#socialcounter ul li.social_item-wrapper:hover .social_twitter{background:#1571A5}
#socialcounter ul li a.social_item.social_youtube{background:#E22020}
.fa-youtube.social_icon{background:#B31919}
#socialcounter ul li.social_item-wrapper:hover .fa-youtube.social_icon{background:#E22020}
#socialcounter ul li.social_item-wrapper:hover .social_youtube{background:#B31919}
#socialcounter ul li a.social_item.social_rss{background:#E86321}
.fa-rss.social_icon{background:#C2521B}
#socialcounter ul li.social_item-wrapper:hover .fa-rss.social_icon{background:#E86321}
#socialcounter ul li.social_item-wrapper:hover .social_rss{background:#C2521B}
#socialcounter ul li a.social_item.social_google-plus{background:#E82C2C}
.fa-google-plus.social_icon{background:#BF2424}
#socialcounter ul li.social_item-wrapper:hover .fa-google-plus.social_icon{background:#E82C2C}
#socialcounter ul li.social_item-wrapper:hover .social_google-plus{background:#BF2424}
#socialcounter ul li a.social_item.social_instagram{background:#8E714D}
.fa-instagram.social_icon{background:#6F583C}
#socialcounter ul li.social_item-wrapper:hover .fa-instagram.social_icon{background:#8E714D}
#socialcounter ul li.social_item-wrapper:hover .social_instagram{background:#6F583C}
#socialcounter ul li a.social_item.social_pinterest{background:#CA2027}
.fa-pinterest.social_icon{background:#AB1B21}
#socialcounter ul li.social_item-wrapper:hover .fa-pinterest.social_icon{background:#CA2027}
#socialcounter ul li.social_item-wrapper:hover social_pinterest{background:#AB1B21}
/* Banner */
.kotak_iklan1 {position:relative;}
.kotak_iklan1:before{content:&#39;300x250 Ad&#39;;position:absolute;background:rgba(25,25,25,.9);color:#fff;top:0;right:0;padding:2px 8px;font-size:80%}
.kotak_iklan1:hover:before{content:&#39;Pasang iklan&#39;;}
.banner,.banner2{margin:0 auto;text-align:center;overflow:hidden}
.banner .widget,.banner2 .widget{width:100%;max-width:100%;margin:0 auto;background:#fff;text-align:center;overflow:hidden;padding:20px}
.banner .widget{border-bottom:1px solid rgba(0,0,0,0.1);}
.banner2 .widget{border-top:1px solid rgba(0,0,0,0.1);}
.banner img,.banner iframe,.banner2 img,.banner2 iframe{display:block;margin:0 auto;text-align:center;height:auto;}
.kotak_iklan{text-align:center;margin:0 auto;transition:all 1s ease-out}
.kotak_iklan .sidebar .widget-content,.kotak_iklan .sidebar-atas .widget-content{padding:0;border:0}
.kotak_iklan .sidebar .widget{margin-bottom:0;padding:0}
.kotak_iklan img{background:#fff;text-align:center;margin:0 auto;padding:4px;border:1px solid transparent!important;transition:all .6s ease-out}
.kotak_iklan img:hover{background:#fdfdfd;border:1px solid #e6e6e6}
.kotak_iklan2,.kotak_iklan3{text-align:center;margin:0 auto;transition:all 1s ease-out}
.kotak_iklan2 .sidebar .widget-content,.kotak_iklan2 .sidebar-atas .widget-content{padding:0;background:#f2f6f7;box-shadow:0 1px 2px 0 rgba(0,0,0,.1);border:0}
.kotak_iklan2 .sidebar .widget,.kotak_iklan2 .sidebar-atas .widget{margin-bottom:0;padding:0}
.kotak_iklan2 img{text-align:center;transition:all 1s ease-out}
.kotak_iklan2 img:hover{transition:all .5s ease-out}
#HTML2 .widget-content,#HTML3 .widget-content,#HTML4 .widget-content,#HTML5 .widget-content{padding:0;}
/* To top */
.simplifytotop{visibility:hidden;z-index:2;background:#95a5a6;color:#fff;font-size:20px;width:37px;height:37px;line-height:37px;text-align:center;position:fixed;bottom:10px;right:10px;border-radius:2px;cursor:pointer;transition:all .4s}
.simplifytotop:hover{background:#7f8c8d;color:#fff;}
.simplifytotop.arlniainf{visibility:visible;cursor:pointer;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);transition:all .4s;}
/* Arlina Global Responsive */
@media screen and (max-width:800px) {
#wrapper{overflow:initial}
#content-wrapper{background:#fff;margin:0 auto;}
#footer-wrapper{border:0}
#header{padding:0;height:auto;line-height:normal;text-align:center;border:0;position:relative;z-index:initial;-webkit-transform:initial;transform:initial}
#header p.description{display:block;color:#fff}
#headerdua {float:none;max-width:100%;padding:20px;margin:0;}
#header .title{margin:0 0 5px 0;font-weight:700;}
#main-wrapper {float:none;border:0;width:100%;}
#sidebar-wrapper {padding: 0 20px;width:100%;float:none;}
.simplify-menu,.search-boxs{width:100%;margin:0 auto;padding:10px;}
.search-boxs:hover,.search-boxs:active,.search-boxs:focus{width:100%;}
#search-boxs{padding:0 0 10px 0}
#search-boxs{width:96%;float:left;padding-right:0;margin:0 2%}
.search-boxs{height:auto;}
#searchform{margin:0 10px}
#menu {display:block;}
#simplify-two{background:#fff;color:#138be6;font-size:initial;position:relative;display:block;padding:15px;text-transform:uppercase;box-shadow:none;float:none;text-align:left;border-bottom:1px solid rgba(0,0,0,0.14)}
#simplify-two ul{background:#fff;position:absolute;top:100%;left:0;z-index:3;height:auto;float:none;display:none}
#simplify-two ul &gt; li{float:none}
#simplify-two ul.menus{width:100%;position:static;padding-left:20px}
#simplify-two li{display:block;float:none;width:auto}
#simplify-two li a:hover,#simplify-two ul.menus a:hover{background:#24376a;color:#fff;}
#simplify-two a{background:#2c4584;padding:12px;height:initial;line-height:initial;color:#fff;border:0;margin:0}
#simplify-two ul &gt; li a i{color:rgba(255,255,255,.5);float:right}
#simplify-two input,#simplify-two label{position:absolute;top:0;left:0;display:block}
#simplify-two input{z-index:4}
#simplify-two input:checked + label{color:#fff}
#simplify-two input:checked ~ ul{display:block;width:100%}
#simplify-two li:hover &gt; ul{width:100%}
#simplify-two li li {border:0;}
#simplify-two li li &gt; a{background:#24376a;color:#fff;height:auto;font-size:12px;line-height:30px;padding:0 10px;}
#simplify-two li li:hover, #simplify-two li li a:hover {background:#2c4584;color:#fff;}
#simplify-two li ul {background:#2c4584;padding:0;position:relative;width:100%;left:initial;box-shadow:none;}
#simplify-two li:hover ul.menus,#simplify-two li:hover &gt; ul{left:initial}
#simplify-two a i {float:right;}
#search-me{display:none}}
@media only screen and (max-width:768px) {
#headerdua {float:none;max-width:100%;}
#sidebar-wrapper,#main-wrapper {width:100%;padding:0 20px 20px 20px;}
.sidebar {padding:0;}
.sosial-atas li a{color:#fff}
.sosial-atas li a:hover,.sosial-atas li:hover a{background:rgba(0,0,0,0.1);color:#fff}
.page-menu ul li a:hover,.page-menu ul li:hover a{background:transparent}
.footer-menu,#subscribe-footer{float:none;width:auto;margin:0 20px 20px 20px}}
@media screen and (max-width:640px) {
#main-wrapper {width:100%;padding:0 10px 20px 10px;}
#sidebar-wrapper {width:100%;padding:0 20px 20px 20px;}
.status-msg-border {width:97%}
.post h2 {font-size:100%}
h1.post-title.entry-title,h2.post-title.entry-title{font-size:16px;margin:0}
#simplify-two ul{height:195px;overflow:auto;}
#footer-wrapper{margin:auto;border-top:1px solid rgba(0,0,0,0.1)}
#footer-wrapper .footbawahkiri,#footer-wrapper .footbawahkanan{float:none;text-align:center}
.simplifytotop{width:32px;height:32px;line-height:32px}
#footbawah{padding:0 10px 20px 10px;line-height:normal;background:transparent}
.search-boxs{background:#fff;display:block;border-bottom:1px solid rgba(0,0,0,0.14);}
#search-forms,#searchform,.search-button{line-height:34px}
#search-forms{height:34px;line-height:34px}}
@media screen and (max-width:480px) {
body{background:#fff}
.comments .comments-content .user{line-height:2.8em}
.post h2{font-size:100%}
.post h1{font-size:120%}
body,.body-fauxcolumn-outer{font-size:80%}
#header{border:0}
#header p.description{line-height:normal}
#main-wrapper{padding:0}
#sidebar-wrapper{padding:0 10px}
.post-body{padding:10px}
.breadcrumbs{padding:18px 7px}
.widget-content{box-shadow:none;border:0}
#simplifynewsletter{margin:0 0 20px 0}
.sidebar .widget,.sidebartop .widget {margin:0;}
#Label1 .widget-content {padding:20px 10px;}
.banner .widget,.banner2 .widget{padding:10px}
#subscribe-footer .emailfooter input{width:100%}
#subscribe-footer .emailfooter .submitfooter{margin:0}
#subscribe-footer .emailfooter form{margin:auto;float:none}}
@media screen and (max-width:320px) {
body{background:#fff}
#sidebar-wrapper{padding:0 10px}
.widget-content{padding:12px 0}
#HTML2 .widget-content,#HTML3 .widget-content,#HTML4 .widget-content,#HTML5 .widget-content {padding:0}
#Label1 .widget-content {padding:20px 0;}}
@media screen and (max-width:240px) {
body,.body-fauxcolumn-outer {font-size:80%}
.simplify-menu ul li{width:50%}
#socialcounter ul li.social_item-wrapper{float:none;width:100%}
#socialcounter ul li.social_item-wrapper:nth-child(2n+2){margin:0 4% 10px 0}
#PopularPosts1 .item-thumbnail,.recent_posts_arlina .wrapinfo,.post-thumb{width:62px!important;height:52px!important}
h2.post-title.entry-title,#PopularPosts1 ul li .item-title a,.PopularPosts ul li a,ul.recent_posts_arlina li a{font-size:12px!important}
.recent_posts_arlina br{display:none}}
.status-msg-body {padding:10px 0;display:none}
.status-msg-wrap{display:none;font-size:14px;margin-left:1px;width:100%;color:#666}
.status-msg-wrap a{color:orange!important}
.status-msg-bg{display:none;background:#ccc;position:relative;width:99%;padding:6px;z-index:1;border:2px #999 solid}
.status-msg-border{display:none;border:0;position:relative;width:99%}
